# MySQL Database Configuration
MYSQL_DATABASE=changeme
MYSQL_PASSWORD=changeme
MYSQL_ROOT_PASSWORD=changeme_root
MYSQL_HOST=localhost
MYSQL_PORT=your_desired_port
MYSQL_USER=changeme


# Redis Configuration
REDIS_HOST=your_desired_host
REDIS_PORT=your_desired_port
ITEMS_CACHE_KEY=your_desired_items_cache_key
ITEMS_CACHE_TTL_SECONDS=your_desired_cache_ttl_seconds

# JWT Configuration
JWT_SECRET=changeme_generate_random
JWT_ALGORITHM=your_desired_jwt_algorithm
JWT_EXPIRATION_TIME=your_desired_jwt_expiration_time

# OpenAI API Key
OPENAI_API_KEY=your_openai_api_key
OPENAI_MODEL=chosen_model_name

# Rate Limit Configuration
RATE_LIMIT_WINDOW_SECONDS=your_desired_window_seconds
RATE_LIMIT_MAX_REQUESTS=your_desired_max_requests

# Chat Configuration
MAX_PROMPTS_PER_DAY=your_desired_max_prompts_per_day
CHAT_PROMPTS_KEY_PREFIX=your_desired_chat_prompts_key_prefix