# MySQL Database Configuration
MYSQL_DATABASE=changeme
MYSQL_PASSWORD=changeme
MYSQL_ROOT_PASSWORD=changeme_root
MYSQL_HOST=localhost
MYSQL_PORT=your_desired_port
MYSQL_USER=changeme


# Redis Configuration
REDIS_HOST=your_desired_host
REDIS_PORT=your_desired_port

# JWT Configuration
JWT_SECRET=changeme_generate_random
JWT_ALGORITHM=HS256
JWT_EXPIRATION_TIME=15

# OpenAI API Key
OPENAI_API_KEY=your_openai_api_key